@use '../../styles/partials/variables' as *;

.dashboard{

    padding: 2rem;

    &__togglers{
        margin-top: 0.75rem;
    }

    &__cols{
        margin-top: 1rem;
        display: flex;
        width: 100%;
        border-bottom: .0625rem solid black;
        font-weight: 700;
        &--label{
            width: 20%;
            &-date{
                width: 35%;
            }
        }
    }

    &__row{

        display: flex;
        width: 100%;
        border-bottom: .0625rem solid black;
        &--data{
            width: 20%;
            &-date{
                width: 35%;
            }
        }

    }

    &__averages, &__totals{
        font-weight: 700;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        &--data{
            width: 20%;
            &-tot{
                width: 35%;
            }
        }
   }
   button{
       margin-right: 2.5rem;
       margin-bottom: 0.5rem;
       border-radius: 1rem;
       padding: 0.25rem;
       background-color: $Primary-Blue;
       color: white;
       &__btn-hover{
           cursor: pointer;
       }
   }

   &__header{
       padding-top: 1rem;
       padding-right: 2rem;
       display: flex;
       justify-content: flex-end;
       &--title{
           margin-right: 1rem;
       }
       &--button{
        border-radius: 1rem;
        padding: 0.25rem;
        background-color: $Primary-Blue;
        color: white;
       }
   }
}

.mainPageSearch{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    &__input{
        padding: 0.5rem;
        border-radius: 1rem;
    }
    &__button{
        color: white;
        background-color: $Primary-Blue;
        margin-left: 1rem;
        border-radius: 1rem;
    }
}