/*Responsive Design Breakpoints*/
$Tablet-Breakpoint: 40rem;
$Desktop-Breakpoint: 64rem;

/*Primary Colors*/
$Primary-Blue: #0077c0;
$Primary-Black: #000000;
$Primary-Silver: #C4CED4;
$Primary-White: #ffffff;
$Primary-Gray: #3B3A39;


